*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #282c34;
  padding: 2vw;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  font-weight: 300;
  font-size: 28px;
}

.person-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  align-items: start;
  margin-top: 3vh;
  justify-content: center;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 8px 12px;
  flex-grow: 1;
}

.person p {
  font-size: 13px;
}

.person-name {
  font-weight: 600;
  font-size: 15px !important;
}

.person-author {
  font-weight: 200;
  margin-top: 1px;
}

.person-publishedon {
  margin-top: 5px;
}

.addperson-form {
  display: flex;
  gap: 15px;
  margin-top: 3vh;
  flex-wrap: wrap;
  justify-content: center;
}

.addperson-form input,
.addperson-form select {
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 4px 12px;
  color: #fff;
}

.addperson-form input[type="date"] {
  color: grey;
}

.addperson-form input::-webkit-calendar-picker-indicator {
  filter: invert(40%);
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 3vh;
}

table,
th {
  font-size: 14px;
  font-weight: 500;
}

table,
td {
  font-size: 13px;
  font-weight: 300;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  text-transform: capitalize;
}

table tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.2);
}

table tr:hover {
  background-color: #000;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04aa6d;
  color: white;
}
